.bg {
	background-image: url('/BG-ping.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.fontSize {
	font-size: 3rem !important;
	line-height: 1 !important;
}
